#button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20x;
}
#box{
  border: 2px solid blue;
  width: 700px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  height: 350px;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: black;
  opacity: 0.7;
}
#welcome{
  font-family: 'Rye', cursive;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#hello{
  border: 2px solid blue;
  width: 300px;
  height: 150px;;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 40%;
  margin-right: 50%;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 1%;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: black;
  opacity: 0.7;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

#button {
  width: 200px;
  height: 50px;
  background-color: red;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt8lyjwAuwMxGzupHnznTuVIXOw9_4M5CgdWPpSHqOisTVJPzm)
}
#play{
  font-family: 'Frijole', cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: black;
  text-align: center;
  border: 2px solid blue;
  width: 300px;
  height: 70px;;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 40%;
  margin-right: 50%;
  padding-top: 0.5%;
  padding-bottom: 7%;
  padding-left: 5%;
  padding-right: 7%;
  font-size: 60px;
  opacity: 0.8;
}
.panel {
background-color: black;
opacity: 0.8;
color: white;
text-align: center;

}
.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20x;
  float: left;
  display: block;
}
.button2{
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20x;
  float: left;
  display: block;

}
.player{
  font-family: 'Dokdo', cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 40px;
}
.info{
  font-family: 'Monofett', cursive;
  text-align: left;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#sum2{
  font-size: 60px;
}
#sum{
  font-size: 60px;
 
}
